name: CI-CD-Piplene-to-AWS-Elastibeanstalk
#configure globar variables
env:
  EB_PACKAGE_S3_BUCKET_NAME : "oper25-project-github-actions-application-packeges"
  EB_APPLICATION_NAME : "Myflask"
  EB_ENVORONMENT_NAME : "Myflask-env"
  DEPLOY_PACKAGE_NAME : "flask_app+${{github.sha}}.zip"
  AWS_REGION_NAME : "us-east-1"

#specify what type we should monitor
on:
  push:
    branches: [ main ]  

#write Jobs for automation
jobs:
  my_ci_part:       #job name

    runs-on: ubuntu-latest

    steps:
    #clone our git repository to docker container
    - name: Git clone our repo
      uses: actions/checkout@v1     #clone our git repository to docker container
    
    #add our project files to zip archive exclude folder name and file name which consist "git" 
    - name: Create ZIP deployment packege
      run: zip -r ${{env.DEPLOY_PACKAGE_NAME}} ./ -x *.git*
      
      #connect to aws account using credentials from SETTING -> SECRET
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id : ${{secrets.MY_AWS_ACCES_KEY}}
        aws-access-key-access-key : ${{secrets.MY_AWS_SECRET_KEY}}
        aws-region : ${{env.AWS_REGION_NAME}}

    #copy zip file to s3 bucket
    - name: Copy Deployment to s3 bucket
      run : aws s3 cp ${{env.DEPLOY_PACKAGE_NAME}} s3://${{env.EB_PACKAGE_S3_BUCKET_NAME}}/
      
      #print finall message
    - name: Print Happy Message for CI finish
      run: echo "CI Piplene part Finished successfully!"
      
